body {
	background-image: url("./images/pattern-025.jpg");
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
}

h1 {
	text-align: center;
	font-size: 3em;
	color: #2F2F2F;
}

.container {
	text-align: center;
}

.frame {
	height: 500px;
	width: 80%;
	background-color: #2F2F2F;
	color: darkOrchid;
	font-size: 20px;
	border-radius: 5px;
	margin: auto;
	opacity: 0.8;
	padding: 5px 0px 0 0px;
}

.word-div {
	width: 100%;
	height: 400px;
}

.bins {
	justify-content: space-between;
	display: flex;
	position: relative;
	height: 200px;
	width: 100%;
}

.bins img {
	bottom: 0;
	width: 135px;
	z-index: 1;
}

.bins p {
	position: absolute;
	margin-top: -90px;
	color: #2F2F2F;
	font-weight: bold;
}

div.jqcloud span.w5 {
    font-size: 225%;
    z-index: 1000;
    color: darkOrchid;
}
