html {
	height: 100%;
}

body {
	background-image: url("./images/pattern-025-light.jpg");
	background-attachment: fixed;
	background-repeat: none;
	background-size: cover;
	position: relative;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Righteous', serif;
}

.body2 {
	background-image: url("./images/pattern-0252-light.png");
}


h1 {
	margin-top: 20px;
	margin-left: 30%;
	font-size: 3em;
	color: #2F2F2F;
	margin-bottom: 15px;
}


.frame {
	height: 500px;
	width: 65%;
	background-color: #2F2F2F;
	color: darkOrchid;
	font-size: 20px;
	border-radius: 5px;
	margin-left: 60px;
	opacity: 0.7;
	padding: 5px 30px 0 30px;
    font-size: 3em;
    color: #2F2F2F ;
    border: 9px solid #2C2C2C;
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   z-index: 3;
}

.container {
	padding-top: 40px;
  margin-top: -60px;
}




.word-div {
    width: 100%;
    height: 400px;
}

.bins {
    justify-content: space-between;
    display: flex;
    position: relative;
    height: 150px;
    width: 100%;
    z-index: -1;
    margin-top: -20px;
}

.bins2 p {
	margin-top: -117px;
    font-size: 66px;
    color: #2F2F2F;
}

.bin {
    bottom: 0;
    width: 125px;
    z-index: -1;
}

.label {
	position: absolute;
	margin-top: 59px;
    margin-left: -99px;
	width: 60px;
}

div.jqcloud span.w5 {
   font-size: 225%;
   z-index: 5 ;
   font-family: 'Inconsolata', monospace;
   cursor: auto;
}

div.jqcloud span:hover{
	z-index: 5;
 	transform: scale(1.1);
 	color: #e0c1ef  !important;
 	cursor: pointer;
}

.player-div {
	overflow: hidden;
}

.player-info {
	height: 109%;
	width: 290px;
	background-color: #2F2F2F;
	position: absolute;
	right: 0;
	top: 0;
}

.player-info div {
	color: white;
	height: 25%;
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}



h3 {
  text-decoration: underline;
  margin-top: -25px;
  margin-bottom: 3px;
}

h5 {
	margin-top: 22px;
}

.top {
  margin-top: 140px;
}

#graphic {
	padding-top: 70px;
	font-size: 800%;
	opacity: 0;
	padding-bottom: 30px;
  margin-top: 60px;
}


#score {
  margin-top: -30px;
	font-size: 70px;
}

/* HEADER */

#wrapper {
  margin-top: 35px;
  background: transparent;
  height: 18%;
}

#word {
 display: inline-block;
 font-size: 70px;
 margin-left: 22%;
 margin-bottom: 20px;
}
#word span {
 color: transparent;
 display: inline-block;
 position: relative;
 font-family: "Monoton";
 animation: 3s letterAnim infinite;

}
#word span.l0 {
 animation-delay: 0.1s;
}
#word span.l1 {
 animation-delay: 0.475s;
}
#word span.l2 {
 animation-delay: 0.85s;
}
#word span.l3 {
 animation-delay: 1.225s;
}
#word span.l4 {
 animation-delay: 1.6s;
}
#word span.l5 {
 animation-delay: 1.975s;
}
#word span.l6 {
 animation-delay: 2.35s;
}
#word span.l7 {
 animation-delay: 2.725s;
}
#word span.l8 {
 animation-delay: 3.1s;
}

@keyframes letterAnim {
 0% {
   color: #ffffff ;
 }
 25% {
   color: #e5e5e5 ;
 }
 50% {
   color: #cccccc ;
 }
 75% {
   color: #e5e5e5 ;
 }
 100% {
   color: #ffffff ;
 }
}


 /* POPUP STYLES */

 .popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 1000;
    text-align:center;
}
 
/* Inner */
.popup-inner {
    max-width:600px;
    width:90%;
    padding:60px 30px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    z-index: 1000;
    border: 8px solid #442250;
    text-align:center;
}
 
/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

.popup h2 {
  font-size: 2em;
}

.popup h3 {
  padding-top: 40px; 
  padding-bottom: 10px;
}

.final-score {
  font-size: 6.5em;
}

.popup button {
    margin: 35px 30px 0 30px;
    padding: 15px;
    font-size: 1.1em;
    font-family: 'Righteous', serif;
    background: -webkit-linear-gradient(top, #5d2f70 0%,#755982 100%);
    color: white;
}
